<table>
    <tr>
        <td><a href="https://lukavdb.github.io/Project-1/fastpages/javascript/week%206/2022/10/10/JavaScript-Notebook.html">JavaScript Notebook</a></td>
        <td><a href="https://lukavdb.github.io/Project-1/javascript/week%206/2022/09/24/JavaScriptFragments.html">HTML Fragments</a></td>
        <td><a href="https://lukavdb.github.io/Project-1/collegeboard/error">Identifying Errors</a></td>
        <td><a href="https://lukavdb.github.io/Project-1/api/2022/10/16/own-API.html">My API</a></td>
    </tr>
</table>
